body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9da4cb !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.appHeader{
  background-color: #313c77;
  padding:15px;
  color: #fff !important;
}
.app{
  color: #fff !important;
}
.noteForm{
  width: 40%;
  margin: 20px auto;
}
.noteText{
  color: #313c77;
  font-weight: bold;
}
.AddNoteBtn{
  text-align: right;
}
.card,.noteHeader{
  margin: 1px auto;
  width:70%;
  padding: 10px;
}
.noteHeader{
  background-color: #313c77;
  padding: 10px;
}
.card{
  color: #000;
}
.noteCount{
  text-align: right;
}
.left{
  float: left!important;
}
.close,
.edit {
  cursor: pointer;
  background: none;
  border: none;
}